:root
{
    --viewh: 0;                     /*Stores 1% of the viewports height (adjusting to the url bar)*/
    --transtime: 240ms;
    --transhalf: 160ms;             
    --transeffect: ease-in-out;     
    --themefont: 'Quicksand', sans-serif;
    --navcolor: #ffffff12;
    --bgcolor: #ffffff14;
}
body[data-theme=dark]
{
    --navcolor: #ffffff12;
    --bgcolor: #e3e3e314;
}
body[data-theme=light]
{
    --navcolor: #00000012;
    --bgcolor: #ffffff14;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input, textarea, button, select, a, article, div, section
{
    -webkit-tap-highlight-color: transparent; /* non-standard CSS property */
}
::-webkit-scrollbar
{
    background: transparent;
    width: 8px;
}
::-webkit-scrollbar-track
{
    margin-block-start: 205px;
    margin-block-end: 21px;
}
::-webkit-scrollbar-thumb
{
    background: transparent;
    border-radius: 100vw;
    border: 3px solid rgba(255, 255, 255, 0.597);
}
#bg-image
{
    position: absolute;
    width: 100%;
    height: 100vh;

    background-size: cover;
    background-repeat: no-repeat;

    z-index: -10;
}



/*Hamburger Navbar*/
#hamburger-navbar
{
    position: relative;
}
.hamburger-menu
{
    position: absolute;
    height: 7vh;

    border-style: solid;
    border-color: #ffffffb5;
    border-width: 0px 0px 1px 0px;

    z-index: 15;
}
#hamburger-toggle
{
    position: absolute;
    height: 7vh;
    width: 75px;

    border: none;

    cursor: pointer;

    background-color: transparent;
    
    z-index: 10;
}
.hamburger-lines 
{
    position: absolute;
    top: calc(3vh - 2px);
    left: 3vh;
    height: 23px;
    width: 33px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 2;
}
.hamburger-lines .bar 
{
    height: 4px;
    width: 100%;
    
    display: block;

    border-radius: 10px;

    background: white;

    transition: 
        translate var(--transhalf) linear var(--transhalf),
        rotate var(--transhalf) linear,
        opacity 0s var(--transhalf);
    transform-origin: center;
}



/*Controlling the state of the icon */
#hamburger-navbar[data-visible="true"] .hamburger-lines .bar 
{
    transition: 
        translate var(--transhalf) linear,
        rotate var(--transhalf) linear var(--transhalf),
        opacity 0s var(--transhalf);
} 
#hamburger-navbar[data-visible="true"] .hamburger-lines .bar1 
{
    translate: 0px 9.5px;
    rotate: -45deg;
}
#hamburger-navbar[data-visible="true"] .hamburger-lines .bar2 
{
    opacity: 0;
}
#hamburger-navbar[data-visible="true"] .hamburger-lines .bar3 
{
    translate: 0px -9.5px;
    rotate: 45deg;
}


#hamburger-navbar[data-theme="true"] .hamburger-lines .bar
{
    transition: 
        translate var(--transhalf) linear var(--transhalf),
        rotate var(--transhalf) linear,
        opacity var(--transhalf) var(--transhalf);
}
#hamburger-navbar[data-theme="true"] .hamburger-lines .bar1 
{
    rotate: 0deg;
}
#hamburger-navbar[data-theme="true"] .hamburger-lines .bar3 
{
    rotate: 0deg;
}


#hamburger-navbar[data-visible="true"] #links-item 
{
    transform: translateX(0);
}
#hamburger-navbar[data-visible="true"] #links-heading 
{
    transform: translateX(0);
}


#hamburger-navbar[data-theme="true"] #themes-item
{
    transform: translateX(0);
}
#hamburger-navbar[data-theme="true"] #themes-heading
{
    transform: translateX(0);
}



/* Links */
#links
{
    position: relative;
}
#links-heading
{
    position: absolute;
    height: calc(var(--viewh, 1vh) * 9);
    width: 100%;
    
    background: var(--navcolor);
    backdrop-filter: blur(18px);

    display: flex;
    align-items: center;
    justify-content: center;
    
    border-style: solid;
    border-color: #ffffffb5;
    border-width: 0px 0px 1px 0px;

    transform: translate(-100%);
    transition: transform var(--transtime) var(--transeffect);

    z-index: 9;
}
#links-heading span
{
    font-size: 30px;
    font-weight: 700;
    font-family: var(--themefont);
    color: white;
}
#links-item
{
    position: absolute;
    top: calc(var(--viewh, 1vh) * 9);
    height: calc(var(--viewh, 1vh) * 91);
    width: 100%;

    background: var(--navcolor);
    backdrop-filter: blur(18px);

    transform: translate(-100%);
    transition: transform var(--transtime) var(--transeffect);

    z-index: 9;
}
#links-item ul
{
    padding-top: 37px;
}
#links-item ul li
{
    height: 74px;
    position: relative;
}
#links-item a
{
    all: unset;

    height: 100%;

    display: flex;
    align-items: center;

    font-size: 23px;
    font-family: var(--themefont);
    color: white;

    cursor: pointer;
}
#links-item a:active
{
    background-color: #ffffff1a;
}
#links-item svg
{
    position: absolute;
    left: 13%;
}
#links-item span
{
    position: absolute;
    left: calc(13% + 60px);
}
#links-item ul li:nth-child(3) svg
{
    transform: translateY(1px);
}
#links-item ul li:nth-child(4) svg
{
    transform: translateY(1px);
}
#links-item ul li:nth-child(5) svg
{
    transform: translateX(-3px);
}



/*Themes */
#themes
{
    position: relative;
}
#themes-heading
{
    position: absolute;
    height: calc(var(--viewh, 1vh) * 9);
    width: 100%;

    background: var(--navcolor);
    backdrop-filter: blur(18px);

    display: flex;
    align-items: center;
    justify-content: center;

    border-style: solid;
    border-color: #ffffffb5;
    border-width: 0px 0px 1px 0px;

    transform: translate(-100%);
    transition: transform var(--transtime) var(--transeffect);
    
    z-index: 10;
}
#themes-heading span
{
    font-size: 30px;
    font-weight: 700;
    font-family: var(--themefont);
    color: white;
}
#themes-item
{
    position: absolute;
    top: calc(var(--viewh, 1vh) * 9);
    height: calc(var(--viewh, 1vh) * 91);
    width: 100%;

    background: var(--navcolor);
    backdrop-filter: blur(18px);

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    transform: translate(-100%);
    transition: transform var(--transtime) var(--transeffect);

    z-index: 10;
}
.theme-all
{
    display: inline-block;
    height: 8vh;
    width: 80%;

    font-size: 22px;
    font-weight: 700;
    font-family: var(--themefont);
    color: white;

    border-style: solid;
    border-color: #ffffffde;
    border-width: 2px;
    border-radius: 14px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    cursor: pointer;
}
.theme-all:active 
{
    font-size: 18px;
}
#themes-item :nth-child(1)
{
    background-image: url(Button/Background0.jpg);
}
#themes-item :nth-child(2)
{
    background-image: url(Button/Background1.jpg);
}
#themes-item :nth-child(3)
{
    background-image: url(Button/Background2.jpg);
}
#themes-item :nth-child(4)
{
    background-image: url(Button/Background3.jpg);
}
#themes-item :nth-child(5)
{
    background-image: url(Button/Background4.jpg);
}
#themes-item :nth-child(6)
{
    background-image: url(Button/Background5.jpg);
}
#themes-item :nth-child(7)
{
    background-image: url(Button/Background6.jpg);
}
#themes-item :nth-child(8)
{
    background-image: url(Button/Background7.jpg);
}
#themes-item :nth-child(9)
{
    background-image: url(Button/Background8.jpg);
}
#themes-item :nth-child(10)
{
    background-image: url(Button/Background9.jpg);
}



/* Heading */
#head-set
{
    height: 100vh;

    overflow-y: scroll;
}
.heading
{
    position: absolute;
    width: 100%;
    height: 175px;

    padding-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: solid transparent;
    border-width: 0px 0px 3px 0px;
    
    z-index: 5;
}
.at-top
{
    height: 68px;

    padding-top: 0;
    
    background-color: #00000025;
    backdrop-filter: blur(16px);

    border-color:white;

    box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 3px, rgba(0, 0, 0, 0.10) 0px 1px 2px;
}
.heading-item
{
    font-size: 75px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    
    color: white;
}



/* Sets */
#sets
{
    position: relative;
    top: 175px;
    
    padding-top: 28px;
    padding-bottom: 5px;
    
    overflow: auto;

    display: grid;
    grid-template-columns: 1fr;
}
.set
{
    position: relative;
    padding: 20px;
    margin: 0px 6px 13px 14px;
    
    border-style: solid;
    border-color: transparent;
    border-width: 2px 0px 2px 0px;
    border-radius: 18px;

    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: aliceblue;

    cursor: pointer;
}
.set:active
{
    border-color: white;
}
.set h2
{
    position: absolute;
    bottom: 40%;
    right: 5%;
}
.set h4
{
    position: absolute;
    bottom: 15%;
    right: 5%;
}
.set h3
{
    position: relative;
    bottom: 9%;
    left: 1%;
    font-size: 20px;
}
.set p
{
    position: relative;
    width: 70%;
    top: 16%;
    left: 1%;
}
.set a
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border: solid #ffffff24;
    border-width: 1px 0px 1px 0px;
    border-radius: 18px;

    z-index: 1;
}
.set button
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: var(--bgcolor);
    backdrop-filter: blur(15px);
    
    border: none;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 4px;
    
    z-index: -1;
}





@media screen and (min-width:800px)
{
    #bg-image
    {
        background-position: center center;
    }
    #hamburger-toggle 
    {
        height: 9vh;
        width: 85px;
    }
    .hamburger-lines
    {
        left: 4vh;
    }
    #links-heading
    {
        width: 410px;

        border-right-width: 2px;
    }
    #links-item
    {
        width: 410px;

        border-style: solid;
        border-color: #ffffffb5;
        border-width: 0px 2px 0px 0px;
    }
    #themes-heading
    {
        width: 410px;

        border-right-width: 2px;
    }
    #themes-item
    {
        width: 410px;

        border-style: solid;
        border-color: #ffffffb5;
        border-width: 0px 2px 0px 0px;
    }
    .theme-all
    {
        height: 9vh;
        width: 70%;
    }
    .at-top
    {
        height: calc(var(--viewh, 1vh) * 9 + 1px);
    }
    #sets
    {
        grid-template-columns: 1fr 1fr;
    }
    .set:hover
    {
        border-color: white;
    }
    .set
    {
        margin: 0px 15px 13px 20px;
    }
    .set h2 
    {
        bottom: 42%;
        right: 3%;
    }
    .set h4 
    {
        right: 3%;
    }
    .set h3 
    {
        left: 2px;
    }
    .set p 
    {
        left: 2px;
    }
}
